@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #0e0d0d;

}